<div class="mint has-text-centered">

    <h1 class="title">Mint NFT</h1>

    <hr>

    <input 
    placeholder="Asset Name"
    class="input"
    (change)="updateName($event)"
    />
    <br>
    <input
    placeholder="Asset Description"
    class="input"
    (change)="updateDescription($event)"
    />
    <br>
    <input
    placeholder="Asset Price in Eth"
    class="input"
    (change)="updatePrice($event)"
    />
    <br>
    <input
    type="file"
    name="Asset"
    class="my-4"
    (change)="loadFile($event)"
    />
    <br>
    <img *ngIf="fileUrl != null" src={{fileUrl}} id="preview"/>
    <br>

    <a class="button is-light is-outlined" (click)="createMarket()">Create Digital Asset</a>

</div>

