<div class="dashboard has-text-centered">

    <h1 class="title">Dashboard</h1>

    <hr>
  
   <h1 *ngIf="empty" class="title">No assets created</h1>

    <div class="nfts" *ngIf="!empty">
        <h1 class="title">Items created</h1>
        <div class="created" *ngFor="let nft of nfts">
            <div class="card" *ngIf=!nft.sold>
                <img class="img" src={{nft.image}}/>
                <p class="subtitle">{{nft.price}} ETH</p>
            </div>
        </div>

        <h1 class="title">Items sold</h1>
        <div class="sold" *ngFor="let nft of nfts">
            <div class="card" *ngIf=nft.sold>
                <img class="img" src={{nft.image}}/>
                <p class="subtitle">{{nft.price}} ETH</p>
            </div>
        </div>

    </div>
</div>